body { font-family: Courier,Courier New;
       background-color: #000000;
       color: #ffffff;
       font-size: medium;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       width: 800px;
     }
